<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<nav>
  <a href="{{ url_for ('driver.driver_search')}}"><button type="button"></button></a>
  <a href="{{ url_for ('book_a_ride.index')}}"><button type="button"></button></a>
  <a href="{{ url_for('notifications.index') }}"><button type="button"></button></a>
  <a href="{{ url_for('user_profile.index') }}"><button type="button"></button></a>
  <a href="{{ url_for('settings.index') }}"><button type="button"></button></a>
</nav>